@model UTM.Domain.Brand

@{
    ViewBag.Title = "Delete Brand";
    Layout = "../Shared/_AdminPanelLayout.cshtml";
}

<div class="container">
    <h2>Delete Brand</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.BrandId)
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            <p class="form-control-static">@Model.Name</p>
        </div>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
    }
</div>